!.vscode/extensions.json
!tools/openapi/courtlistener-v4.3.0.openapi.json
._*
.biome-cache
.cache
.cache/
.DS_Store
.DS_Store?
.env
.env.local
.env.production
.env.test
.history/*
.idea/
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.out
.parcel-cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.Spotlight-V100
.storybook-out
.Trashes
.vscode/
.yarn-integrity
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.swo
*.swp
*.tgz
*.tsbuildinfo
*.tsbuildinfo
*~
build/
coverage/
dist
dist/
ehthumbs.db
lerna-debug.log*
logs/
node_modules
node_modules/
npm-debug.log*
pids
pnpm-debug.log*
public
temp/
Thumbs.db
tmp/
tools/openapi/courtlistener-*.openapi.json
yarn-debug.log*
yarn-error.log*
